//
//  Production.xcconfig
//  Bimblytics
//
//  Created by Emanuele Curati on 07/05/2026.
//

BIMBLYTICS_ENVIRONMENT_NAME = PRODUCTION
PRODUCT_BUNDLE_IDENTIFIER = com.espherix.bimblytics
PRODUCT_NAME = Bimblytics
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
BIMBLYTICS_APP_DISPLAY_NAME = Bimblytics
BIMBLYTICS_URL_SCHEME = bimblytics
BIMBLYTICS_API_BASE_URL = https:/$()/api.bimblytics.com
BIMBLYTICS_AUTH_BASE_URL = https:/$()/auth.bimblytics.com
BIMBLYTICS_OIDC_CLIENT_ID = bimblytics-ios
BIMBLYTICS_REDIRECT_URI = bimblytics:/$()/auth-callback
BIMBLYTICS_POST_LOGOUT_REDIRECT_URI = bimblytics:/$()/logout-callback
